section.panel.ng-cloak
  header.panel-heading.text-center {{ 'label.usernameToResetPassword' }}
  form.panel-body(name="forgetpassForm", method="post", novalidate, ng-submit="doForgetPass()")

    .alert.alert-danger.ng-cloak(ng-show="error")
      button.close(data-dismiss='alert', type='button', ng-click="error = false")
        i.icon-remove
      i.icon-ban-circle
      strong {{message}}
    .alert.alert-success.ng-cloak(ng-show="success")
      button.close(data-dismiss='alert', type='button', ng-click="success = false")
        i.icon-remove
      i.icon-ban-circle
      strong {{message}}

    .form-group
      input.form-control(type='email', placeholder="{{ 'label.email' }}",
       ng-model="login.account", name="account", init-focus,  required, ng-minlength="2", ng-maxlength="128", 
       ng-class="{'parsley-error' : forgetpassForm.account.$invalid && forgetpassForm.account.$dirty}", ng-disabled="loading")
      ul.parsley-error-list(ng-show="forgetpassForm.account.$invalid && forgetpassForm.account.$dirty", ng-cloak)
        li.required(style='display: list-item;', 
          ng-show="forgetpassForm.account.$error.required") 
          | {{ 'vld.mandatoryData' }}
        li.required(style='display: list-item;', 
          ng-show="forgetpassForm.account.$error.minlength") 
          | {{ 'vld.minLengthRequire' }}
        li.required(style='display: list-item;', 
          ng-show="forgetpassForm.account.$error.maxlength") 
          | {{ 'vld.maxLengthRestrict' }}
        li.required(style='display: list-item;', 
          ng-show="forgetpassForm.account.$error.email") 
          | A valid email is required
          
    a.pull-right.m-t-xs(href='signin')
      small {{ 'label.iRememberPasswordNow' }}
    button.btn.btn-info(type='submit', ng-disabled="loading") {{ 'btn.sendPassResetLinkToMyEmail' }}
